#draggable {
    cursor: move;
    position: absolute;
    top: 113px;
    left: 100px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #03a9f4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

#draggable.hollow {
    cursor: default;
    background: #ececec;
}

#droptarget {
    height: 100px;
    width: 100%;
    margin: 5px 0;
    font-size: 24px;
    text-align: center;
    cursor: default;
    border: 1px solid #999;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    border: black dotted 2px;
    border-radius: 5px;
}

.demo-section {
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-container-item {
    flex-grow: 0;
    flex-wrap: nowrap;
    flex-basis: auto;
}

.multiplier-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.multiplier {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    margin: 5px;
    background-color: #03a9f4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.k-slider-horizontal {
    display: inline-block;
    float: left;
    width: 650px;
    height: 26px;
}

.schedule-hours-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
}

.schedule-hours-header {
    width: 100px;
    height: 20px;
    border: solid 1px black;
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.schedule-hours-item {
    width: 100px;
    height: 20px;
    border: solid 1px black;
    border-left: none;
    background-color: gray;
    text-align: center;
    color: #000000;
}

.schedule-day-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
}

.schedule-day-header {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.schedule-day-item {
    width: 100px;
    height: 100px;
    border: solid 1px black;
    border-left: none;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.schedule-day-item.x-1 {
    background-color: #ffffff;
}

.schedule-day-item.x-2 {
    background-color: #B03A5B;
}

.schedule-day-item.x-3 {
    background-color: #674EA7;
}

.schedule-day-item.x-4 {
    background-color: #597EAA;
}

.schedule-day-item.x-5 {
    background-color: #6AA84F;
}

.schedule-day-item.x-1 {
    background-color: #ffffff;
}

.multiplier.x-2 {
    background-color: #B03A5B;
}

.multiplier.x-3 {
    background-color: #674EA7;
}

.multiplier.x-4 {
    background-color: #597EAA;
}

.multiplier.x-5 {
    background-color: #6AA84F;
}

.alert.alert-error {
    border-left-color: #cb5234;
}

.alert {
    padding: .75rem 1rem .75rem 3rem;
    border: 1px solid #e8e8e8;
    background: #fff;
    color: #555459;
    border-left-width: 5px;
    margin: 0 auto 1rem;
    border-radius: .25rem;
}

.fa-warning {
    color: #cb5234;
}

.alert.alert-success {
    border-left-color: #5cb85c;
}

.fa-check-square-o {
    color: #5cb85c;
}
